<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="osp.leobert.android.davinci.viewer">

    <application>
        <activity android:name=".StylesActivity"
            android:icon="@drawable/ic_launcher"
            android:launchMode="singleTask"
            android:taskAffinity="davinci.viewer"
            android:label="DaVinCi-Styles">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>